<article class="create-contact-container">
  <section>
    <div class="input-group flex-nowrap">
      <form [formGroup]="createContactForm" (ngSubmit)="onCreateContact()">

        <div class="container card align-content-center">
          <div class="form-group">
            <label for="username">Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="name" id="username"/>
          </div>
          <ul *ngIf="createContactForm.get('name').invalid && (createContactForm.get('name').dirty || createContactForm.get('name').touched)"
              class="text-danger text-left small">
            <li *ngIf="createContactForm.get('name').errors.required">
              Name is required.
            </li>
          </ul>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   class="form-control"
                   formControlName="email" id="email"/>
          </div>
          <ul *ngIf="createContactForm.get('email').invalid && (createContactForm.get('email').dirty || createContactForm.get('email').touched)"
              class="text-danger text-left small">
            <li *ngIf="createContactForm.get('email').errors.required">
              Email is required.
            </li>
            <li *ngIf="createContactForm.get('email').errors.email">
              Email format
            </li>
          </ul>

          <div class="form-group">
            <label for="information">Information</label>
            <input type="test" class="form-control" formControlName="information" id="information">
          </div>
          <ul *ngIf="createContactForm.get('information').invalid && (createContactForm.get('information').dirty || createContactForm.get('information').touched)"
              class="text-danger text-left small">
            <li *ngIf="createContactForm.get('information').errors.required">
              Information is required.
            </li>
          </ul>

          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-secondary">Create</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <br>
  {{contact.body | json}}
</article>

