<article class="login-container">
  <section>
    <div class="input-group flex-nowrap">
      <form [formGroup]="createCompanyForm" (ngSubmit)="onCreateCompany()">

        <div class="container card align-content-center">
          <div class="form-group">
            <label for="username">Name</label>
            <input type="text"
                   class="form-control"
                   formControlName="name" id="username"/>
          </div>
          <ul *ngIf="createCompanyForm.get('name').invalid && (createCompanyForm.get('name').dirty || createCompanyForm.get('name').touched)"
              class="text-danger text-left small">
            <li *ngIf="createCompanyForm.get('name').errors.required">
              Name is required.
            </li>
          </ul>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   class="form-control"
                   formControlName="email" id="email"/>
          </div>
          <ul *ngIf="createCompanyForm.get('email').invalid && (createCompanyForm.get('email').dirty || createCompanyForm.get('email').touched)"
              class="text-danger text-left small">
            <li *ngIf="createCompanyForm.get('email').errors.required">
              Email is required.
            </li>
            <li *ngIf="createCompanyForm.get('email').errors.email">
              Email format
            </li>
          </ul>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password">
          </div>
          <ul *ngIf="createCompanyForm.get('password').invalid && (createCompanyForm.get('password').dirty || createCompanyForm.get('password').touched)"
              class="text-danger text-left small">
            <li *ngIf="createCompanyForm.get('password').errors.required">
              Password is required.
            </li>
          </ul>

          <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" id="confirmpassword">
          </div>
          <ul *ngIf="createCompanyForm.get('confirmPassword').invalid && (createCompanyForm.get('confirmPassword').dirty || createCompanyForm.get('confirmPassword').touched)"
              class="text-danger text-left small">
            <li *ngIf="createCompanyForm.get('confirmPassword').errors.required">
              Password is required.
            </li>
          </ul>

          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-secondary">Create</button>
          </div>
        </div>

      </form>
    </div>
  </section>
  <hr>
  <section>New company</section>
  <hr>
  <article *ngIf="company.account" class="account-information card">

    <section>
      <a>Email: <i>{{company.account.email}}</i></a>
    </section>
    <section>
      <a>State: <i>{{company.account.state}}</i></a>
    </section>
    <section>
      <a>AccountType: <i>{{company.account.accountType}}</i></a>
    </section>
  </article>

</article>


