<section class="col p-4 d-flex flex-column position-static">
  <strong class="d-inline-block mb-2 text-primary">Company: {{index}}</strong>
  <h3 class="mb-0">{{company.name}} </h3>
  <span class="mb-1 text-muted">{{company.email}}</span>
  <p class="card-text mb-auto">This is a description that every user will have and it is just a placeholder
    information.</p>
</section>

