<article class="login-container">
    <section>
        <div class="input-group flex-nowrap">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="username" placeholder="Email"
                           aria-label="Email" aria-describedby="basic-addon1">
                </div>
                <ul *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)"
                    class="text-danger text-left small">
                    <li *ngIf="loginForm.get('username').errors.required">
                        Email is required.
                    </li>
                    <li *ngIf="loginForm.get('username').errors.email">
                        Email format
                    </li>
                </ul>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password"
                           aria-label="Password" aria-describedby="basic-password">
                </div>
                <ul *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
                    class="text-danger text-left small">
                    <li *ngIf="loginForm.get('password').errors.required">
                        Email is required.
                    </li>
                </ul>
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-secondary">Login</button>
                </div>
            </form>
        </div>
    </section>
</article>
