<section class="col p-4 d-flex flex-column position-static">
  <strong class="d-inline-block mb-2 text-primary">User: {{index}}</strong>
  <h3 class="mb-0">{{contact.name}} </h3>
  <span class="mb-1 text-muted">{{contact.email}}</span>
  <p class="card-text mb-auto">{{contact.detail.information}}</p>
</section>

<section class="col-2 p-2">
  <img src="https://picsum.photos/200/200?random&t={{contact.id}}" alt="user avatar" class="img-thumbnail h-100 w-100">
</section>

