:host{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.account-information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
