<br>
<br>
<br>
<article>
    <section>
        <form [formGroup]="searchAccountFormGroup" (ngSubmit)="onSearchAccount()">
            <label for="account_search">Search Account:</label>
            <input id="account_search" type="text" formControlName="account" placeholder="Email">
            <button type="submit">Search</button>
        </form>
    </section>


    <hr>
    <section>Result of search by email</section>
    <hr>
    <article *ngIf="account" class="account-information card">

        <section>
            <a>Email: <i>{{account.email}}</i></a>
        </section>
        <section>
            <a>State: <i>{{account.state}}</i></a>
        </section>
        <section>
            <a>AccountType: <i>{{account.accountType}}</i></a>
        </section>
    </article>

</article>

